#content {
    position: relative;
}

#right img {
    position: absolute;
    top: 0px;
    right: 0px;
}

#left img {
    position: absolute;
    top: 0px;
    left: 0px;
}

img {
    width: 10%;
    height: auto;
}

body {
    background-color: #000000;
    color:#FFFFFF;
}

#search{
  padding-top: 15px;
  display:block;
  text-align:center;
}

.float-right {
    float: right;
    width: 25%;
    height: auto;
}

.float-left{
    float: left;
    width: 25%;
    height: auto;
}

ul {
  list-style-type: none;
  padding-left: 1em;

}

.caret {
  cursor: pointer;
  user-select: none; 
}

.caret::after {
  content: "\25B8";
  display: inline-block;
  margin-right: 6px;
}

.caret-down::after {
  transform: rotate(90deg);
}

.nested {
  display: block;
}

.active {
  display: none;
}

a:link{
  color:white;
}
a:visited{
  color:white;
}

.test {
  width: 100%;
  margin:0 auto;
  height:auto;
  position: sticky;
  top: 0px;
}

.fluid-col {
  height: 1500px;
}

.fluid-col-extra {
  height: 4000px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.dm-popout {
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
}

.dm-popout-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px;
}


